{% load static %}
<!DOCTYPE html>
<head>
  <title>من نحن | كوفي كرافت</title>
  <meta name="description" content="كوفي كرافت هو شغف بالقهوة قبل أن يكون مشروعًا. تعرّف على قصتنا، رؤيتنا، ورسالتنا في تقديم تجربة قهوة راقية تعكس ذوقك الخاص.">
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  
</head>

<body>
  <!-- Navbar -->
<nav class="navbar" data-aos="fade-right">
  <div class="nav-left">
    <a href="contact">تواصل معنا</a>
    <a href="about">من نحن</a>
  </div>

  <div class="nav-center">
    <a href="../">
      <img src="{% static 'img/logo.png' %}" class="logo">
    </a>
  </div>

  <div class="nav-right"> 
    <a href="build">حضّـر قهوتك</a>
    <a href="../">الرئيسية</a>
  </div>
</nav>

<section >
<h2 class="section-title" data-aos="fade-up">رحلتنا مع القهوة</h2>

  <div class="custom-box" data-aos="fade-left">
    <div class="custom-box-image leftimg">
      <img src="{% static 'img/story1.jpg' %}" alt="صورة">
    </div>
    <div class="textbox lefttext">
      <h2 class="textbox-title">الشرارة الأولى</h2>
      <p class="textbox-text">
        كل شيء بدأ من ملاحظة بسيطة: يمرّ ساعي الجرائد كل صباح ليقدّم الأخبار للناس. فسألنا أنفسنا:
        إذا كانت الأخبار تصل يوميًا إلى أبواب الناس، فلماذا لا تصل القهوة التي تمنحنا الطاقة بنفس الانتظام؟
        <b>فكرة بسيطة لكنها كانت الشرارة التي أشعلت الحلم.</b>
      </p>
    </div>
  </div>

    <div class="custom-box" data-aos="fade-right">
    <div class="custom-box-image rightimg">
      <img src="{% static 'img/story2.jpg' %}" alt="صورة">
    </div>
    <div class="textbox righttext">
      <h2 class="textbox-title">بداية الحلم</h2>
      <p class="textbox-text">
        الفكرة لم تتوقف عند التساؤل. بدأنا نتخيّل مشهدًا يوميًا: شخص يفتح بابه ليجد كوب قهوته الساخنة جاهزًا في انتظاره. ليست مجرد راحة
        <b>بل لحظة صغيرة قادرة على أن تغيّر يومًا كاملًا.</b>
      </p>
    </div>
  </div>

    <div class="custom-box" data-aos="fade-left">
    <div class="custom-box-image leftimg">
      <img src="{% static 'img/story3.jpg' %}" alt="صورة">
    </div>
    <div class="textbox lefttext">
      <h2 class="textbox-title">أول تجربة</h2>
      <p class="textbox-text">
        قررنا أن نجرب بأنفسنا. ببساطة، أخذنا ترمس قهوة وبعض الأكواب الورقية، وبدأنا نوصل القهوة لأهلنا وأصدقائنا. والمفاجأة؟ لم يأخذ الناس القهوة فقط
        <b>بل أخذوا فرحة البداية الجديدة ليومهم.</b>
      </p>
    </div>
  </div>

    <div class="custom-box" data-aos="fade-right">
    <div class="custom-box-image rightimg">
      <img src="{% static 'img/story4.jpg' %}" alt="صورة">
    </div>
    <div class="textbox righttext">
      <h2 class="textbox-title">اكتشاف السر</h2>
      <p class="textbox-text">
        كبرت التجربة وتنوّعت الطلبات: أحدهم يريد المزيد من الحليب، والآخر يفضلها سادة، وثالث يريدها أكثر حلاوة. عندها أدركنا شيئًا مهمًا: 
        <b>القهوة ليست مجرد مشروب… القهوة تمثل هوية شخصية.</b>
      </p>
    </div>
  </div>
    <div class="custom-box" data-aos="fade-left">
    <div class="custom-box-image leftimg">
      <img src="{% static 'img/story5.jpg' %}" alt="صورة">
    </div>
    <div class="textbox lefttext">
      <h2 class="textbox-title">الحلم صار حقيقة</h2>
      <p class="textbox-text">
        اليوم… أصبح لدينا منصة تجمع كل هذه الرحلة. تدخل إلى موقعنا، تختار نوع البن، مستوى التحميص، الإضافات، وحتى الوقت الذي تفضل أن يصل فيه كوبك. مهمتنا واحدة: أن نكون 
        <b>ساعي القهوة</b>
        الذي يمنحك بداية يوم رائعة، تليق بك.
      </p>
    </div>
  </div>


</section>






  <!-- Footer -->
<footer class="big-footer">
  <div class="footer-box">
    <a href="tel:+201023780358" class="footer-item">
      <img src="{% static 'img/phone.png' %}" alt="">
      <span>اتصل بنا</span>
    </a>
    <a href="mailto:anas.karab22@gmail.com" class="footer-item">
      <img src="{% static 'img/atsign.png' %}" alt="">
      <span>راسلنا</span>
    </a>
    <a href="http://instagram.com/" class="footer-item">
      <img src="{% static 'img/insta.png' %}" alt="">
      <span>تابعنا</span>
    </a>
    <a href="https://www.facebook.com/" class="footer-item">
      <img src="{% static 'img/facebook.png' %}" alt="">
      <span>تابعنا</span>
    </a>
  </div>

  <div class="footer-bottom">
    © 2025 CoffeeCraft – Made by Anas
  </div>
</footer>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="{% static 'script.js' %}"></script>
</body>
</html>
